name: Terraform-golden-image
on:
  push:
    branches: [ "master" ]
  workflow_dispatch: # This enables the manual "Run workflow" buttons
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Caller Repo
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ecr-repository: abhishek-ecr/abhishek-ecr
          image-tag: Terraform_golden_image_v1.0.3
        run: |
          docker run --rm \
            -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
            -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
            -e AWS_SESSION_TOKEN=$AWS_SESSION_TOKEN \
            $ECR_REGISTRY/$REPO:$TAG \
            apply -auto-approve
      

