name: Terraform-Run-From-Golden-Image
on:
  push:
    branches: [ "master" ]
  workflow_dispatch: # This enables the manual "Run workflow" buttons


jobs:
  # JOB 1: Authenticate and Pull the Image
  setup:
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # Required for OIDC
      contents: read    # Required for Checkout
    steps:
      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Pull Golden Image to Runner Cache
        run: docker pull 702175642104.dkr.ecr.us-east-1.amazonaws.com/abhishek-ecr/abhishek-ecr:Terraform_golden_image_v1.0.16
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Terraform Init inside Golden Image
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
            -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
            -e AWS_SESSION_TOKEN=$AWS_SESSION_TOKEN \
            -e AWS_REGION=us-east-1 \
            702175642104.dkr.ecr.us-east-1.amazonaws.com/abhishek-ecr/abhishek-ecr:Terraform_golden_image_v1.0.16 \
            init \
            -backend-config="bucket=abhishek-ops-tf-state-backend" \
            -backend-config="key=global/s3/terraform.tfstate" \
            -backend-config="region=us-east-1" \
            -backend-config="dynamodb_table=terraform-state-locking"

      - name: Terraform plan inside Golden Image
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
            -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
            -e AWS_SESSION_TOKEN=$AWS_SESSION_TOKEN \
            -e AWS_REGION=us-east-1 \
            702175642104.dkr.ecr.us-east-1.amazonaws.com/abhishek-ecr/abhishek-ecr:Terraform_golden_image_v1.0.16 \
            plan \
            -backend-config="bucket=abhishek-ops-tf-state-backend" \
            -backend-config="key=global/s3/terraform.tfstate" \
            -backend-config="region=us-east-1" \
            -backend-config="dynamodb_table=terraform-state-locking" \

  # # JOB 2: Run Terraform inside that Cached Image
  # terraform:
  #   needs: setup
  #   runs-on: ubuntu-latest
  #   permissions:
  #     id-token: write
  #     contents: read
  #   container:
  #     image: 702175642104.dkr.ecr.us-east-1.amazonaws.com/abhishek-ecr/abhishek-ecr:Terraform_golden_image_v1.0.16
  #     options: --user root
  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v4

  #     - name: Configure AWS (Inside Container)
  #       uses: aws-actions/configure-aws-credentials@v4
  #       with:
  #         role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
  #         aws-region: us-east-1

  #     - name: Terraform Init
  #       run: terraform init -backend-config=Environments/spiderbackends.conf


      
        

